<div class="header">
  <app-header></app-header>
</div>
<div class="carousel-inner">
  <div class="carousel-item active">
    <img src="../../../../../assets/images/contact-us-A.jpg" class="d-block w-100" alt="Banner Image" />
    <div class="carousel-caption d-none d-md-block text-uppercase text-left" data-aos="fade-up">
      <h1 class="h1 font-weight-bold">Coal</h1>
    </div>
  </div>
</div>
<div class="main">
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-12" data-aos="fade-up">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo mollitia quidem laudantium, nostrum
            provident velit suscipit ipsa dolorem doloremque porro modi distinctio reiciendis tempore minus laboriosam
            fugit. Perferendis, inventore harum.</p>
        </div>
        <div class="col-md-6 col-12 bg-light py-5 px-5" data-aos="fade-up">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo mollitia quidem laudantium, nostrum
            provident velit suscipit ipsa dolorem doloremque porro modi distinctio reiciendis tempore minus laboriosam
            fugit. Perferendis, inventore harum.</p>
        </div>
      </div>
    </div>

  </div>
  <div class="py-5">
    <div class="container">

      <div class="contentSection" data-aos="fade-up">
        <h2>Lorem ipsum dolor sit amet</h2>
        <h3>Lorem ipsum dolor sit amet</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo mollitia quidem laudantium, nostrum provident
          velit suscipit ipsa dolorem doloremque porro modi distinctio reiciendis tempore minus laboriosam fugit.
          Perferendis, inventore harum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo mollitia quidem
          laudantium, nostrum provident velit suscipit ipsa dolorem doloremque porro modi distinctio reiciendis tempore
          minus laboriosam fugit. Perferendis, inventore harum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo mollitia quidem laudantium, nostrum provident
          velit suscipit ipsa dolorem doloremque porro modi distinctio reiciendis tempore minus laboriosam fugit.
          Perferendis, inventore harum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo mollitia quidem
          laudantium, nostrum provident velit suscipit ipsa dolorem doloremque porro modi distinctio reiciendis tempore
          minus laboriosam fugit. Perferendis, inventore harum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo mollitia quidem laudantium, nostrum provident
          velit suscipit ipsa dolorem doloremque porro modi distinctio reiciendis tempore minus laboriosam fugit.
          Perferendis, inventore harum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo mollitia quidem
          laudantium, nostrum provident velit suscipit ipsa dolorem doloremque porro modi distinctio reiciendis tempore
          minus laboriosam fugit. Perferendis, inventore harum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo mollitia quidem laudantium, nostrum provident
          velit suscipit ipsa dolorem doloremque porro modi distinctio reiciendis tempore minus laboriosam fugit.
          Perferendis, inventore harum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo mollitia quidem
          laudantium, nostrum provident velit suscipit ipsa dolorem doloremque porro modi distinctio reiciendis tempore
          minus laboriosam fugit. Perferendis, inventore harum.</p>
      </div>
    </div>
  </div>
  <div class="servecCard pt-3 pb-5">
    <div class="container">
      <div class="pb-4 px-0 col-lg-6 col-12" data-aos="fade-up">
        <h2 class="themeColor">Related</h2>
      </div>
      <div class="row gap-4 gap-md-0">
        <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up">
          <div class="card-zoom">
            <a href="#">
              <div class="zoom-img" style="background-image: url('../../../../../assets/images/contact-us-A.jpg');">
                <div class="zoom-title">Power Trading Through Exchange</div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up">
          <div class="card-zoom">
            <a href="#">
              <div class="zoom-img" style="background-image: url('../../../../../assets/images/contact-us-A.jpg');">
                <div class="zoom-title">Power Trading Bilateral</div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up">
          <div class="card-zoom">
            <a href="#">
              <div class="zoom-img" style="background-image: url('../../../../../assets/images/contact-us-A.jpg');">
                <div class="zoom-title">Compliance & Regulations</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <app-footer></app-footer>
  </div>