  <header class="py-2">
    <div class="container">
      <div class="row">
        <div class="headerLogo">
          <a href="#">
            <img src="../../../../../assets/images/energymindslogo.jpg" [routerLink]="['/home']"  alt="Energy Minds" />
          </a>
        </div>
        <div class="headerMenu d-flex justify-content-end align-items-center">
          <nav class="desktopMenuNav mobileHide">
            <ul class="d-flex">
              <li><a href=" #" rel="noopener noreferrer">Home</a></li>
              <li class="hsSubMenu">
                <a href="#"  [routerLink]="['/aboutUS']" rel="noopener noreferrer">About</a>

              </li>
              <li class="hsSubMenu">
                <a href="#" rel="noopener noreferrer">Services <i class="fa-solid fa-angle-down"></i></a>
                <ul class="subMenu">
                  <li class="hsSubMenu">
                    <a href="#" rel="noopener noreferrer">SubMenu 1 <i class="fa-solid fa-angle-down"></i></a>
                    <ul class="subMenu">
                      <li>
                        <a href="#" rel="noopener noreferrer">SubMenu 1-1</a>
                      </li>
                      <li>
                        <a href="#" rel="noopener noreferrer">SubMenu 1-2</a>
                      </li>
                      <li>
                        <a href="#" rel="noopener noreferrer">SubMenu 1-3</a>
                      </li>
                    </ul>
                  </li>
                  <li class="hsSubMenu">
                    <a href="#" rel="noopener noreferrer">SubMenu 2 <i class="fa-solid fa-angle-down"></i></a>
                    <ul class="subMenu">
                      <li>
                        <a href="#" rel="noopener noreferrer">SubMenu 2-1</a>
                      </li>
                      <li>
                        <a href="#" rel="noopener noreferrer">SubMenu 2-2</a>
                      </li>
                      <li>
                        <a href="#" rel="noopener noreferrer">SubMenu 2-3</a>
                      </li>
                    </ul>
                  </li>
                  <li><a href="#" rel="noopener noreferrer">SubMenu 3</a></li>
                  <li><a href="#" rel="noopener noreferrer">SubMenu 4</a></li>
                  <li><a href="#" rel="noopener noreferrer">SubMenu 5</a></li>
                  <li class="hsSubMenu">
                    <a href="#" rel="noopener noreferrer">SubMenu 6 <i class="fa-solid fa-angle-down"></i></a>
                    <ul class="subMenu">
                      <li>
                        <a href="#" rel="noopener noreferrer">SubMenu 6-1</a>
                      </li>
                      <li>
                        <a href="#" rel="noopener noreferrer">SubMenu 6-2</a>
                      </li>
                      <li>
                        <a href="#" rel="noopener noreferrer">SubMenu 6-3</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="hsSubMenu">
                <a href="#" rel="noopener noreferrer">Investor Relations <i class="fa-solid fa-angle-down"></i></a>
                <ul class="subMenu">
                  <li>
                    <a href="#" rel="noopener noreferrer">SubMenu 1</a>
                  </li>
                  <li>
                    <a href="#" rel="noopener noreferrer">SubMenu 2</a>
                  </li>
                  <li><a href="#" rel="noopener noreferrer">SubMenu 3</a></li>
                  <li><a href="#" rel="noopener noreferrer">SubMenu 4</a></li>
                </ul>
              </li>
              <li><a [routerLink]="['/carrer']"  rel="noopener noreferrer">Careers</a></li>
              <li><a [routerLink]="['/contactUs']"  rel="noopener noreferrer">Contact Us</a></li>
            </ul>
          </nav>
          <div class="mobileMenuWrap desktopHide">
            <div class="mobileMenuin">
              <span class="mobile_menu_bar"><i class="fa-solid fa-bars"></i></span>

              <ul class="mobileMenu">
                <li><a href=" #" rel="noopener noreferrer">Home</a></li>
                <li class="hsSubMenu">
                  <a href="#" rel="noopener noreferrer">About <i class="fa-solid fa-angle-down"></i></a>
                  <ul class="subMenu">
                    <li><a href="#" rel="noopener noreferrer">SubMenu 1</a></li>
                    <li><a href="#" rel="noopener noreferrer">SubMenu 2</a></li>
                  </ul>
                </li>
                <li class="hsSubMenu">
                  <a href="#" rel="noopener noreferrer">Services <i class="fa-solid fa-angle-down"></i></a>
                  <ul class="subMenu">
                    <li class="hsSubMenu">
                      <a href="#" rel="noopener noreferrer">SubMenu 1 <i class="fa-solid fa-angle-down"></i></a>
                      <ul class="subMenu">
                        <li>
                          <a href="#" rel="noopener noreferrer">SubMenu 1-1</a>
                        </li>
                        <li>
                          <a href="#" rel="noopener noreferrer">SubMenu 1-2</a>
                        </li>
                        <li>
                          <a href="#" rel="noopener noreferrer">SubMenu 1-3</a>
                        </li>
                      </ul>
                    </li>
                    <li class="hsSubMenu">
                      <a href="#" rel="noopener noreferrer">SubMenu 2 <i class="fa-solid fa-angle-down"></i></a>
                      <ul class="subMenu">
                        <li>
                          <a href="#" rel="noopener noreferrer">SubMenu 2-1</a>
                        </li>
                        <li>
                          <a href="#" rel="noopener noreferrer">SubMenu 2-2</a>
                        </li>
                        <li>
                          <a href="#" rel="noopener noreferrer">SubMenu 2-3</a>
                        </li>
                      </ul>
                    </li>
                    <li><a href="#" rel="noopener noreferrer">SubMenu 3</a></li>
                    <li><a href="#" rel="noopener noreferrer">SubMenu 4</a></li>
                    <li><a href="#" rel="noopener noreferrer">SubMenu 5</a></li>
                    <li class="hsSubMenu">
                      <a href="#" rel="noopener noreferrer">SubMenu 6 <i class="fa-solid fa-angle-down"></i></a>
                      <ul class="subMenu">
                        <li>
                          <a href="#" rel="noopener noreferrer">SubMenu 6-1</a>
                        </li>
                        <li>
                          <a href="#" rel="noopener noreferrer">SubMenu 6-2</a>
                        </li>
                        <li>
                          <a href="#" rel="noopener noreferrer">SubMenu 6-3</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="hsSubMenu">
                  <a href="#" rel="noopener noreferrer">Investor Relations <i class="fa-solid fa-angle-down"></i></a>
                  <ul class="subMenu">
                    <li>
                      <a href="#" rel="noopener noreferrer">SubMenu 1</a>
                    </li>
                    <li>
                      <a href="#" rel="noopener noreferrer">SubMenu 2</a>
                    </li>
                    <li><a href="#" rel="noopener noreferrer">SubMenu 3</a></li>
                    <li><a href="#" rel="noopener noreferrer">SubMenu 4</a></li>
                  </ul>
                </li>
                <li><a href="#" rel="noopener noreferrer">Careers</a></li>
                <li><a href="#" rel="noopener noreferrer">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>