@use "../../../../../assets/styles/variables.scss" as *;

  .headerLogo {
    cursor: pointer;
  }
@media (max-width: 991px) {
  .headerLogo {
    width: 100%;
    cursor: pointer;
  }
}
  .active-link {
    font-weight: bold;

  }