<nav class="navbar header navbar-expand-lg navbar-light">
  <div class="container">
    <div class="navbar-brand nav-link align-items-center d-flex headerLogo justify-content-between ">
      <img src="../../../../../assets/images/energyLogo.jpg" [routerLink]="['/home']" alt="Energy Minds" width="200" />
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active-link">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" [routerLink]="['/aboutUS']">About</a>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active-link">
          <a class="nav-link dropdown-toggle"  routerLinkActive="active-link" dropdown-toggle href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Services </a>
          <div class="dropdown-menu " aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLinkActive="active-link" [routerLink]="['/services/coal']">Coal</a>
            <a class="dropdown-item" routerLinkActive="active-link" [routerLink]="['/services/petrol']">Petrol</a>
            <a class="dropdown-item" routerLinkActive="active-link" [routerLink]="['/services/gas']">Gas</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" [routerLink]="['/carrer']">Careers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active-link" [routerLink]="['/contactUs']">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>