.themeColor {
  color: #0e3371;
}

:is(h1, h2, h3) {
  color: #0e3371;
}

.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border: 1px solid #ffffff;
  border-radius: 100%;
  background: no-repeat;
  opacity: 1;
}
.carousel-indicators [data-bs-target].active {
  background-color: #0e3371;
  border-color: #0e3371;
}

.carousel-inner .carousel-caption {
  text-align: left;
}
.carousel-inner .carousel-caption h1 {
  color: #ffffff;
}