<div #carouselElement id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators justify-content-start">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../../../assets/images/contact-us-A.jpg" class="d-block w-100" alt="Banner Image">
            <div class="carousel-caption d-none d-md-block text-uppercase text-left" data-aos="fade-up">
                <h5>alias</h5>
                <h1 class="h1 font-weight-bold">voluptatibus laudantium</h1>
                <h5>tenetur libero</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>

        <!-- Repeat for other slides -->
        <!-- Slide 2 -->
        <div class="carousel-item">
            <img src="../../../../../assets/images/contact-us-A.jpg" class="d-block w-100" alt="Banner Image">
            <div class="carousel-caption d-none d-md-block text-uppercase text-left" data-aos="fade-up">
                <h5>alias</h5>
                <h1 class="h1 font-weight-bold">voluptatibus laudantium</h1>
                <h5>tenetur libero</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item">
            <img src="../../../../../assets/images/contact-us-A.jpg" class="d-block w-100" alt="Banner Image">
            <div class="carousel-caption d-none d-md-block text-uppercase text-left" data-aos="fade-up">
                <h5>alias</h5>
                <h1 class="h1 font-weight-bold">voluptatibus laudantium</h1>
                <h5>tenetur libero</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>
</div>