<div class="header">
    <app-header></app-header>
</div>
<div class="hmBnnaer">
    <app-banner></app-banner>
</div>
<div class="sectionHeading py-5" data-aos="fade-up">
    <div class="container">
        <h2>Manikaran Power Limited</h2>
        <p>Formed in 2005, MPL has established itself as a leading Energy Solutions Company with 20 years of experience
            in Power, Coal, and Gas. With two decades of industry expertise, we continue to innovate and deliver
            reliable energy solutions.</p>
    </div>
</div>
<div class="servecCard pb-5">
    <div class="container">
        <div class="pb-4 px-0 col-lg-6 col-12" data-aos="fade-up">
            <h2 class="themeColor">Power Solutions</h2>
            <h5 class="font-weight-bold">Facilitates power trading through Power Exchanges, Bilateral, Power Banking/
                Swapping &amp; Group
                captive.</h5>

        </div>
        <div class="row pb-3 gap-2 gap-md-0">
            <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up">
                <div class="row m-0">
                    <div class="col-1 p-0">
                        <span class="icon"><i class="fas fa-file-alt fa-2x"></i>

                        </span>
                    </div>
                    <div class="col-11 py-0 pl-2">
                        <p>First Trading and Clearing Member to be registered on the Platform
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up">
                <div class="row m-0">
                    <div class="col-1 p-0">
                        <span class="icon"><i class="fas fa-cog fa-2x"></i>

                        </span>
                    </div>
                    <div class="col-11 py-0 pl-2">
                        <p>First Trading Member to register 200+ clients on the IGX platform
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up">
                <div class="row m-0">
                    <div class="col-1 p-0">
                        <span class="icon">
                            <i class="fas fa-bolt fa-2x"></i>
                        </span>
                    </div>
                    <div class="col-11 py-0 pl-2">
                        <p><strong>29.18 Million</strong> MMBTUs Gas traded till date
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gap-4 gap-md-0">
            <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up">
                <div class="card-zoom">
                    <a href="#">
                        <div class="zoom-img"
                            style="background-image: url('../../../../../assets/images/contact-us-A.jpg');">
                            <div class="zoom-title">Power Trading Through Exchange</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up">
                <div class="card-zoom">
                    <a href="#">
                        <div class="zoom-img"
                            style="background-image: url('../../../../../assets/images/contact-us-A.jpg');">
                            <div class="zoom-title">Power Trading Bilateral</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up">
                <div class="card-zoom">
                    <a href="#">
                        <div class="zoom-img"
                            style="background-image: url('../../../../../assets/images/contact-us-A.jpg');">
                            <div class="zoom-title">Compliance & Regulations</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="servecCard pt-4 pb-5">
    <div class="container">
        <div class="row align-items-center gap-4 gap-md-0">
            <div class="col-md-6 col-12" data-aos="fade-up">
                <img src="../../../../../assets/images/Coal-Solutionshome-2.jpg" alt="Gas Solutions" class="mw-100">
            </div>
            <div class="col-md-6 col-12" data-aos="fade-up">
                <h2 class="themeColor">Gas Solutions
                </h2>
                <h5 class="font-weight-bold">Facilitates sale and purchase of Natural Gas on Indian Gas Exchange (IGX) –
                    First Natural Gas Trading Platform in India.</h5>
                <div class="py-3">
                    <div class="col-12" data-aos="fade-up">
                        <div class="row m-0">
                            <div class="col-1 p-0">
                                <span class="icon"><i class="fas fa-file-alt fa-2x"></i>

                                </span>
                            </div>
                            <div class="col-11 py-0 pl-2">
                                <p>Successfully catered 2.5 million metric tons (MMTs) of imported and domestic coal for
                                    industries and IPPs.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" data-aos="fade-up">
                        <div class="row m-0">
                            <div class="col-1 p-0">
                                <span class="icon"><i class="fas fa-cog fa-2x"></i>

                                </span>
                            </div>
                            <div class="col-11 py-0 pl-2">
                                <p>Efficaciously implemented Coal Tolling concept in India</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="servecCard pt-4 pb-5">
    <div class="container">
        <div class="row align-items-center gap-4 gap-md-0">

            <div class="col-md-6 col-12" data-aos="fade-up">
                <h2 class="themeColor">Gas Solutions
                </h2>
                <h5 class="font-weight-bold">Facilitates sale and purchase of Natural Gas on Indian Gas Exchange (IGX) –
                    First Natural Gas Trading Platform in India.</h5>
                <div class="py-3">
                    <div class="col-12" data-aos="fade-up">
                        <div class="row m-0">
                            <div class="col-1 p-0">
                                <span class="icon"><i class="fas fa-file-alt fa-2x"></i>

                                </span>
                            </div>
                            <div class="col-11 py-0 pl-2">
                                <p>Successfully catered 2.5 million metric tons (MMTs) of imported and domestic coal for
                                    industries and IPPs.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12" data-aos="fade-up">
                        <div class="row m-0">
                            <div class="col-1 p-0">
                                <span class="icon"><i class="fas fa-cog fa-2x"></i>

                                </span>
                            </div>
                            <div class="col-11 py-0 pl-2">
                                <p>Efficaciously implemented Coal Tolling concept in India</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12" data-aos="fade-up">
                <img src="../../../../../assets/images/Coal-Solutionshome-2.jpg" alt="Gas Solutions" class="mw-100">
            </div>
        </div>
    </div>
</div>

<div class="servecCard py-5 bg-light">
    <div class="container">
        <div class="pb-4 px-0 col-lg-6 col-12" data-aos="fade-up">
            <h2 class="themeColor">Coal Solutions

            </h2>
            <h5 class="font-weight-bold">Facilitating Uninterrupted Coal Supply & Strategic Tolling Solutions for
                Stressed Power Plants</h5>

        </div>
        <div class="row pb-3 gap-2 gap-md-0">
            <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up">
                <div class="row m-0">
                    <div class="col-1 p-0">
                        <span class="icon"><i class="fas fa-file-alt fa-2x"></i>

                        </span>
                    </div>
                    <div class="col-11 py-0 pl-2">
                        <p>First Trading and Clearing Member to be registered on the Platform
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up">
                <div class="row m-0">
                    <div class="col-1 p-0">
                        <span class="icon"><i class="fas fa-cog fa-2x"></i>

                        </span>
                    </div>
                    <div class="col-11 py-0 pl-2">
                        <p>First Trading Member to register 200+ clients on the IGX platform
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up">
                <div class="row m-0">
                    <div class="col-1 p-0">
                        <span class="icon">
                            <i class="fas fa-bolt fa-2x"></i>
                        </span>
                    </div>
                    <div class="col-11 py-0 pl-2">
                        <p><strong>29.18 Million</strong> MMBTUs Gas traded till date
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gap-4 gap-md-0">
            <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up">
                <div class="card-zoom">
                    <a href="#">
                        <div class="zoom-img"
                            style="background-image: url('../../../../../assets/images/contact-us-A.jpg');">
                            <div class="zoom-title">Power Trading Through Exchange</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up">
                <div class="card-zoom">
                    <a href="#">
                        <div class="zoom-img"
                            style="background-image: url('../../../../../assets/images/contact-us-A.jpg');">
                            <div class="zoom-title">Power Trading Bilateral</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12" data-aos="fade-up">
                <div class="card-zoom">
                    <a href="#">
                        <div class="zoom-img"
                            style="background-image: url('../../../../../assets/images/contact-us-A.jpg');">
                            <div class="zoom-title">Compliance & Regulations</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ourMission py-5">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-6 col-12 text-center" data-aos="fade-up">
                <div class="icon"><i class="fas fa-file-alt fa-2x"></i></div>
                <div class="pt-2">
                    <h4>Vision
                    </h4>
                    <p>To become the most profitable integrated Energy.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 text-center" data-aos="fade-up">

                <div class="icon"><i class="fas fa-cog fa-2x"></i></div>
                <div class="pt-2">
                    <h4>Mission</h4>
                    <p>To create 1 GW+ asset portfolio in the next 5 years

                    </p>
                </div>

            </div>
            <div class="col-lg-4 col-md-6 col-12 text-center" data-aos="fade-up">
                <div class="icon">
                    <i class="fas fa-bolt fa-2x"></i>
                </div>
                <div class="pt-2">
                    <h4>29.18 Million</h4>
                    <p><strong>29.18 Million</strong> MMBTUs Gas traded till date
                    </p>

                </div>
            </div>
        </div>

    </div>
</div>


<div class="footer">
    <app-footer></app-footer>
</div>